<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="history.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>


  <!-- First Container -->
  <div class="container-fluid bg-1 text-center">
    <h3 class="margin" id="displayName"></h3>
    <div id="profilepicturediv">
    </div>
  </div>

  <!-- Second Container -->
  <div class="container-fluid bg-2 text-center">
    <h3 class="margin">History</h3>
    <div class="card">
      <div class="container">
        <h4> <%= displayName %> </h4> <br>
        <h4><%= type %><br>
        <h4><%= timestamp %> </h4> <br>
        <h4><%= location %> </h4> <br>
        <h4><%= plan %></h4>
      </div>
    </div>
    <a href="#" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-search"></span> Search
    </a>
  </div>

  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Bootstrap Theme Made By <a href="https://www.w3schools.com">www.w3schools.com</a></p>
  </footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
  <script>
    window.onload = function (e) {
      liff.init(function (data) {
        init(data);
      });
    };

    function init(data) {
      liff.getProfile().then(function (profile) {
        document.getElementById('displayName').textContent = profile.displayName;
        const profilePictureDiv = document.getElementById('profilepicturediv');
        if (profilePictureDiv.firstElementChild) {
          profilePictureDiv.removeChild(profilePictureDiv.firstElementChild);
        }
        const img = document.createElement('img');
        img.className = "img-responsive img-circle margin";
        img.style = "display:inline";
        img.width = "20%";
        img.height = "20%";
        img.src = profile.pictureUrl;
        img.alt = "Profile Picture";
        profilePictureDiv.appendChild(img);

      }).catch(function (error) {
        window.alert("Error getting profile: " + error);
      });
    }
  </script>
</body>

</html>