<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="history.css">
</head>

<body>

  <!-- First Container -->
  <div class="first-container">
    <h1 class="margin" id="displayName"></h1>
    <div id="profilepicturediv">
    </div>
  </div>

  <!--  Second Container -->
  <div class="article">
    <h2 class="margin">History</h2>
    <div style="overflow-x:auto;">
      <table class="table">
        <tr>
          <th>name</th>
          <th>type</th>
          <th>date/time</th>
          <th>location</th>
          <th>plan</th>
          
          <th id= "userid"></th>
        </tr>
       <!-- <tr>
          <td id="namefield"></td>
          <td id="typefield"></td>
          <td id="timestampfield"></td>
          <td id="locationfield"></td>
          <td id="planfields"></td>
        </tr>  -->
     
      <% docs.foreach((doc) => { %>
      <tr>
        <td><%= doc.displayName %></td>
        <td><%= doc.type %></td>
        <td><%= doc.timestamp %></td>
        <td><%= doc.location.locationName %></td>
        <td><%= doc.plan %></td>
      </tr>
      <% }) %>
      </table>
    </div>
  </div>
  <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
  <script src="history.js"></script>
</body>

</html>