<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="history.css">
</head>

<body>

  <!-- First Container -->
  <div class="first-container">
    <h1 class="margin" id="displayName">name</h1>
    <div  id="profilepicturediv">
    </div>
  </div>

  <!--  Second Container -->
  <div class="article">
    <h2 class="margin">History</h2>
    <table class="table">
      <tr>
        <th>name</th>
        <th>type</th>
        <th>date/time</th>
        <th>location</th>
        <th>plan</th>
      </tr>
      <% for(var i=0; i<docs.length; i++) {%>
      <tr>
        <td><%= docs[i].displayName %></td>
        <td><%= docs[i].type %></td>
        <td><%= docs[i].timestamp %></td>
        <td><%= docs[i].location.locationName %></td>
        <td><%= docs[i].plan %></td>
      </tr>
      <% } %>
    </table>
  </div>


  <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
  <script>

    window.onload = function (e) {
      liff.init(function (data) {
        init(data);
      });
    };

    function init(data) {
      liff.getProfile().then(function (profile) {
        document.getElementById('displayName').textContent = profile.displayName;
        const profilePictureDiv = document.getElementById('profilepicturediv');
        if (profilePictureDiv.firstElementChild) {
          profilePictureDiv.removeChild(profilePictureDiv.firstElementChild);
        }
        const img = document.createElement('img');
        img.style = "display:inline;border-radius: 20%;";
        img.width = "20%";
        img.height = "20%";
        img.src = profile.pictureUrl;
        img.alt = "Profile Picture";
        profilePictureDiv.appendChild(img);


      }).catch(function (error) {
        window.alert("Error getting profile: " + error);
      });
    }
  </script>
</body>

</html>